/*!
 * Mastertech - One Page Wonder
 * Insira seu código entre os comentários localizados no fim desta pagina ou/e
 * Edite o código do layout original
 */


/* Edite o código abaixo para mudar as opções do layout original */

body {
    padding-top: 54px;
}

@media (min-width: 992px) {
    body {
        padding-top: 56px;
    }
}

header.masthead {
    background: url(../img/mapa-mundi.jpg) no-repeat center center scroll;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
    height: 70vh;
}

header.masthead>.overlay {
    padding: 5rem 0;
    text-align: center;
    background: rgba(0, 0, 0, 0.6);
    height: 70vh;
}

@media (min-width: 992px) {
    header.masthead>.overlay {
        padding: 10rem 0;
    }
}


/* Inicio do meu CSS */
#titulo{
  color: #30a862;
}

/* Fim do meu CSS */
